.card {
    border-radius: 20px;
    padding: 20px;
    width: 677px;
    height: 395px;
    margin:10px;
    background-color: #89dee2;
    display: inline-flex;
    justify-content: space-between;
}

.button {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #136CFB;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 204px;
    height: 63px;
}

.information {
    font-family: Roboto;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4450;
    display: flex;
    flex-direction: column;
}

.components {
    margin-right: 70px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo {
    width:200px;
    height:200px;
}

.buttonTextStyle {
    font-size: 20px;
    font-family: Roboto;
    font-style:italic;
    color:white;
}