.background {
    background-image: url("../../../images/Main.png");
    background-size: cover;
    height: 100vh;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainframe{
    background-color: rgba(28, 35, 162, 0.1); 
    width: 85%;
    height: 82%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .doctornote{
    width: 100%;
    height: 22%;
    border-radius: 20px;
  }

  .headingnote{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .summaryframe{
    width: 100%;
    height: 78%;
  }

  .summaryheading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
  }
  
  .summaryandimage{
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
  }

  .summaryandmedicines{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .photo{
    display: flex;
    width: 99%;
    height: 95%;
    border-radius: 20px;
    margin-top: 2%;
    margin-right: 1%;
  }

  .paymentphoto{
    display: flex;
    width: 15%;
    height: 90%;
    border-radius: 5px;
    margin: 0.5%;
  }

  .summary{
    background-color: white;
    width: 90%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .medicnes{
    background-color: white;
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .smallheading{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    height: 20%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .medicinesfieldandslider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 70%;
    margin-top: 1%;
  }

  .medicinesfield{
    background-color: lightblue;
    display: flex;
    width: 95%;
    height: 95%;
    overflow-y: auto; /* Enables scrolling */
    white-space: pre-wrap;
    font-size: 16px;
    border-radius: 5px;
    padding: 2%;
  }
  ::-webkit-scrollbar {
    width: 10px; /* szerokość scrollbara */
    
  }
  
  
  /* Styl dla paska przewijania */
  ::-webkit-scrollbar-thumb {
    background: #2225ae; /* kolor paska przewijania */
    border-radius: 20px; /* Zaokrąglenie paska przewijania */
  }
  
  /* Styl dla paska przewijania po najechaniu kursorem */
  ::-webkit-scrollbar-thumb:hover {
    background: white; /* kolor paska przewijania po najechaniu kursorem */
  }

  .scroll-container {
    width: 300px;
    height: 150px;
    padding-right: 20px; /* Adds space for the scrollbar */
    overflow-y: auto;
    box-shadow: inset 0px 0px 0px 1px #ccc; /* Border-like shadow */
    border-radius: 5px;
    position: relative;
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 5px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }


  .visitinfo{
    background-color: lightblue;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
  }

  .visitdetails{
    width: 90%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
  }

  .detail{
    width: 50%;
    text-align: right;
    font-size: 12px;
  }

  .payment{
    padding-left: 3%;
    width: 95%;
    height: 20%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paymentbutton{
    width: 35%;
    height: 90%;
    color: white;
    background-color: #2225ae;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.4s;
    transition: color 0.4s;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .paymentbutton:hover {
    background-color:white; /* Nowy kolor po najechaniu kursorem */
    color: #2225ae;
  }

  .note{
    background-color: white;
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 13px;
    padding: 3px;
  }
