.background {
  --text: #2e4450;
  --reset-btn-text: #eaf2f8;
  --reset-btn-back: #136cfb;
  --reset-btn-back-hover: #045dec;
  --shadow: rgba(0, 0, 0, 0.35);
}

.background {
  background-image: url("../../../../images/BgImg.png");
  background-size: cover;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 30px 80px 25px;
  box-shadow: 0 0 10px 0 var(--shadow);
  color: var(--text);
}

.title {
  font-size: 36px;
  margin-bottom: 30px;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.input {
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid var(--shadow);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 250px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--shadow);
  box-shadow: inset 0.5px 0.5px 5px -1px var(--shadow);
}

.inputLabel {
  margin-left: 3px;
  width: 100%;
}

.resetBtn {
  border: none;
  background-color: var(--reset-btn-back);
  color: var(--reset-btn-text);
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px 0 var(--shadow);
  margin-top: 20px;
  transition: background-color 0.15s;
}

.resetBtn:hover {
  background-color: var(--reset-btn-back-hover);
}

.resetBtn:active {
  background-color: var(--reset-btn-back);
}
