.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.img {
  position: absolute;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 70vh;
  width: 70%;

  &1 {
    background-image: linear-gradient(
        135deg,
        rgba(128, 0, 128, 0.6),
        rgba(0, 0, 255, 0.6)
      ),
      url("../../../img/doctor.png");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    border-radius: 10px;
  }

  &2 {
    background-image: linear-gradient(
        135deg,
        rgba(128, 0, 128, 0.6),
        rgba(0, 0, 255, 0.6)
      ),
      url("../../../img/pacjent.png");
    background-size: cover;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    border-radius: 10px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.6);
    border-radius: 10px;
  }
}
