.background {
    background-image: url("../../../images/Main.png");
    background-size: cover;
    height: 100vh;
    margin-top: -10vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

.emailSentFrame{
    background-color: white;
    height: 30%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
    text-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    text-align: center;
}

.forgotPasswordHeading{
    height: 20%;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}