html
{
  background-image: url("../../images/BgImg.png");
  background-size: cover;
}

.site{
  position: relative;
}
.site h1{
  font-size: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transparent{
  background-color: rgba(0, 0, 0, 0.152);
  border-radius: 50px;
}

.doctorProfile
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);

  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;

  display: grid;
  grid-template-columns: 50% 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "userData offices"
    "specs offices";
    column-gap: 1em;


  position: relative;
  height: 90vh;
  width: 120vh;
}

.doctorProfile h2{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gridBox
{
  background-color: #eaf2f8;
  overflow: hidden;
  border-radius: 15px;
}

.doctorProfile div h2{
  text-align: center;
  background-color: #136cfb;
}

.userData
{
  grid-area: userData;
}



.specs
{
  position: relative;
  bottom: 25px;
  grid-area: specs;
}

.specsList
{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
  overflow: scroll;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #e2e8ee6b;
  width: 55vh;
  height: 30vh;
}

.specsList .specName{
  display: block;
}

.bin {
  grid-column: 2 / 3;
  justify-self: end;
  cursor: pointer;
}

.specAddButton{
  display: block;
  position: relative;
  left: 65%;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  background-color: #136cfb;
  cursor: pointer;
}

.offices
{
  position: relative;
  grid-area: offices;
  height: calc(90vh - 25px);
  /* transform: translate(0, -25px); */
}

.officesData{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 7px;
  text-align: right;
  padding: 20px;
  top: 45%;
  transform: translate(0,-34vh);
  background-color: #e2e8ee69;
  overflow: hidden;
}

.officesPopupFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.officesPopupFlex input{
  border-radius: 20px;
  width: 70vh;
}

.officesPopupFlex button{
  background-color: #136cfb;
  margin-top: 10px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  width: 20vh;
}

.profileData
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profileData div{
  margin: 10px;
  text-align: right;
  background-color: #e2e8ee69;
}

h2 img{
  width: 20px;
}
button{
  background-color: transparent;
  border: none;
  position: relative;
}

button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.userDataSaveButton{
  background-color: #136cfb;
}