.background {
    background-image: url("../../../images/Main.png");
    background-size: cover;
    height: 100vh;
    margin-top: -10vh;
  }

  .mainframe{
    background-color: rgba(28, 35, 162, 0.1);
    width: 90%;
    height: 85%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
  }

  
  .react-calendar__navigation {
    /* background-color: #7bd8df; */
    background-color: #2225ae;
    color: white;
    border-radius: 5px;
  }

  .react-calendar {
    font-size: 16px;
    border-radius: 15px;
    padding: 10px;

  }

  .react-calendar button {
    /* background-color: #7bd8df; */
    background-color: #2225ae;

    /* color: #333333; */
    color: white;
    margin: 5px 5px; 
    border-radius: 5px; 
    border: 1px solid #333333 !important;
    font-weight: bold;
    padding: 10px;
  }

  .react-calendar__navigation span {
    /* Dodaj style dla etykiety */
    font-size: 18px; /* Przykładowa wielkość czcionki */
    font-weight: bold; /* Pogrubienie tekstu */
    /* color: #010101; /* Kolor tekstu */
    /* Dodatkowe style według potrzeb */
    color: white;
    
  }



  .visitHeading{
    background-color: #2225ae;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: bold;
  }

  .visitsFrame{
    width: 50%;
    border-radius: 30px;
    background-color: rgba(28, 35, 162, 0.1);
  }

.visit{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  border: 1px solid #333333;
  font-size: 22px;
  align-items: center;
  width: 90%;
  height: 20%;
  margin-top: 5px;
  background-color: white;
}

.visitSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
  overflow-y: auto;
}

.wybierzGodzineButton{
  border-radius: 5px;
  font-size: 20px;
}

.wybranyDoktor{
  /*background-color: orange; */
  width: 95%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  margin-top: 25px;
}

.chosenDoctor{
  color:#2225ae;
  height: 37%;
  font-size: 16px;
  width: 90%;
}


.calendarAndChosenDoctor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.scaledImage {
  width: 50px; /* Ustawienie szerokości na 100 pikseli */
  height: 50px; /* Ustawienie wysokości na 100 pikseli */
  object-fit: cover;
}

.askForVisitButton{
  width: 20%;
  height: 20%;
  color: white;
  background-color: #2225ae;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.4s;
  transition: color 0.4s;
  cursor: pointer;
}

.askForVisitButton:hover {
  background-color:white; /* Nowy kolor po najechaniu kursorem */
  color: #2225ae;
}

::-webkit-scrollbar {
  width: 8px; /* szerokość scrollbara */
}


/* Styl dla paska przewijania */
::-webkit-scrollbar-thumb {
  background: #2225ae; /* kolor paska przewijania */
  border-radius: 20px; /* Zaokrąglenie paska przewijania */
}

/* Styl dla paska przewijania po najechaniu kursorem */
::-webkit-scrollbar-thumb:hover {
  background: white; /* kolor paska przewijania po najechaniu kursorem */
}

.choseHourButton{
  width: 30%;
  height: 90%;
  color: white;
  background-color: #2225ae;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.4s;
  transition: color 0.4s;
  cursor: pointer;
}

.choseHourButton:hover {
  background-color:white; /* Nowy kolor po najechaniu kursorem */
  color: #2225ae;
}