.background {
  --text: #2e4450;
  --send-btn-text: #eaf2f8;
  --send-btn-back: #136cfb;
  --send-btn-back-hover: #045dec;
  --cancel-btn-text: #3f88ff;
  --cancel-btn-back: white;
  --cancel-btn-border: #5993f0;
  --cancel-btn-back-hover: #f5f5f5;
  --recover-msg-text: rgb(46, 163, 46);
  --shadow: rgba(0, 0, 0, 0.35);
}

.background {
  background-image: url("../../../images/BgImg.png");
  background-size: cover;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 30px 50px 30px;
  box-shadow: 0 0 10px 0 var(--shadow);
  color: var(--text);
}

.title {
  font-size: 32px;
  margin-bottom: 5px;
  font-style: italic;
}

.description,
.recoverMessage {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.recoverMessage {
  color: var(--recover-msg-text);
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.input {
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid var(--shadow);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 250px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--shadow);
  box-shadow: inset 0.5px 0.5px 5px -1px var(--shadow);
}

.buttons {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.cancelBtn {
  border: 1px solid var(--cancel-btn-border);
  background-color: var(--cancel-btn-back);
  color: var(--cancel-btn-text);
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px 0 var(--shadow);
  width: 155px;
  height: 50px;
  transition: background-color 0.15s;
}

.cancelBtn:hover {
  background-color: var(--cancel-btn-back-hover);
}

.cancelBtn:active {
  background-color: var(--cancel-btn-back);
}

.sendBtn {
  border: none;
  background-color: var(--send-btn-back);
  color: var(--send-btn-text);
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px 0 var(--shadow);
  width: 155px;
  height: 50px;
  transition: background-color 0.15s;
}

.sendBtn:hover {
  background-color: var(--send-btn-back-hover);
}

.sendBtn:active {
  background-color: var(--send-btn-back);
}
