.mainContainer {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 18px;
    background-color: #167fd5;
    color: white;
}

.mainTitle {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 36px;
    background-color: #167fd5;
    color: white;
}

.buttonLogin {
    display: flex;
    justify-content: center;
    width: 15%;
    font-size: 25px;
    background-color: white;
    color: #167fd5;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
}
  
  
  .centered-text {
    text-align: center;
  }