.mainText {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 18px;
    background-color: #167fd5;
    color: white;
}

.mainContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#167fd5;
  width: 85%;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
}

.mainTitle {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 36px;
    background-color: #167fd5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.buttonLogin {
    display: flex;
    justify-content: center;
    width: 17%;
    font-size: 25px;
    background-color: white;
    color: #167fd5;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
}
  


  
  .background {
    background-image: url("../../../images/Main.png");
    background-size: cover;
    height: 100vh;
    margin-top: -10vh;
  }

  .imageContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 65vh;
  }

 