.background {
    background-image: url("../../../images/Main.png");
    background-size: cover;
    height: 100vh;
    margin-top: -10vh;
  }

.information {
    font-family: Roboto;
    font-size: 46px;
    font-style: italic;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4450;
}

.blue {
    color: #488BFB;
}

.header {
    position: fixed;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.youngdoctor {  
    height: 550px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #136CFB;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 204px;
    height: 63px;
}