.mainPage {
  &_img {
    background-image: url("../../img/lek3.jpg");
    background-size: cover; /* Dostosowuje obraz do rozmiaru kontenera */
    background-position: center; /* Wyśrodkowuje obraz */
    height: 80vh;
  }

  &_text {
    padding: auto;
    width: 50%;
    color: white;
    text-align: center;

    & h1 {
      font-size: 6rem;
      margin-bottom: 5rem;
    }

    & h2 {
      font-size: 4rem;
      margin-bottom: 5rem;
    }

    & p {
      font-size: 2.5rem;

      & b {
        text-transform: uppercase;
      }
    }
  }
}
