.background{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.089);
}
body{
    background-image: url(../../../images/BgImg.png);
    overflow: hidden;
    background-size: cover;
}

.maingrid{
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    column-gap: 4vh;
    
    border-radius: 20px;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.label{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: x-large;
    font-weight: 900;
    background-color: #136cfb;
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 1vh 0;
    min-width: 400px;
}

.info{ 
    min-height: 300px;
    height: 30vh;
    border-radius: 20px;
    background-color: #eaf2f8;
}

.description{
    min-height: 300px;
    background-color: #eaf2f8;
    border-radius: 20px;
    height: 30vh;
}

.history{
    min-height: 300px;
    background-color: #eaf2f8;
    border-radius: 20px;
    height: 30vh;
    transform: translateY(-3vh);
}

.meds{
    min-height: 300px;
    background-color: #eaf2f8;
    border-radius: 20px;
    height: 30vh;
    transform: translateY(-3vh);
}

.infodata{
    position: relative; 
    text-align: end;
    top: 4%;
    right: 4%;
    display: grid;
    column-gap: 1vh;
    row-gap: 1vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
    padding: 0 2vh 0 2vh;   
}

.patientNameSurnameData, .doctorNameSurnameData, .illnessData, .dateOfAddingTheIllnessData{
    background-color: #d0e5f5;
    margin: 1vh 0 1vh 0;
}

.patientNameSurname, .doctorNameSurname, .illness, .dateOfAddingTheIllness{
    margin: 1vh 0 1vh 0;
}

.illnessDesctription{
    position: relative;
    background-color: #d0e5f5;
    width: 90%;
    height: 70%;
    max-height: 300px;
    top: 5%;
    left: 5%;
    overflow: scroll;
}

.illnessHistory{
    position: relative;
    background-color: #d0e5f5;
    overflow: scroll;
    width: 90%;
    height: 70%;
    max-height: 300px;
    top: 5%;
    left: 5%;
}

.medsData{
    position: relative;
    background-color: #d0e5f5;
    overflow: scroll;
    width: 90%;
    height: 50%;
    max-height: 210px;
    top: 5%;
    left: 5%;
}

.expanded {
    height: 100%; /* większa wysokość po ukryciu przycisków */
}

