.background {
    background-image: url("../../../images/Main.png");
    background-size: cover;
    height: 100vh;
    margin-top: -10vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

.forgotPasswordFrame{
    background-color: white;
    height: 55%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    
}

.forgotPasswordHeading{
    height: 20%;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.emailFrame{
    height: 70%;
    width: 80%;
    color: blue;
    font-size: 16px;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.textBox{
    height: 15%;
    width: 90%;
    resize: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
}

.sendButton{
    height: 20%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 18px;
}