.mainPage {
  &_img {
    margin-top: 10rem;
    background-image: url("../../../img/lek3.jpg");
    background-size: cover; /* Dostosowuje obraz do rozmiaru kontenera */
    background-position: center; /* Wyśrodkowuje obraz */
    height: 80vh;
  }

  &_text {
    padding: auto;
    width: 50%;
    color: white;
    text-align: center;

    & h1 {
      font-size: 6rem;
      margin-bottom: 5rem;
      position: relative;
      left: -100%;
      animation: slideIn 0.7s ease-in-out forwards;
    }

    & h2 {
      font-size: 4rem;
      margin-bottom: 5rem;
      opacity: 0;
      animation: fadeIn 1s ease-in-out 0.5s forwards;
    }
    & p {
      font-size: 2.5rem;
      opacity: 0;
      animation: fadeIn 1s ease-in-out 0.5s forwards;

      & b {
        text-transform: uppercase;
      }
    }
  }
}

// DESCRIPTION SECTION


@keyframes slideIn {
  0% {
    left: -100%;
  }
  90% {
    left: 5%;
  }
  100% {
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Początkowa przezroczystość - ukryte */
  }
  100% {
    opacity: 1; /* Końcowa przezroczystość - widoczne */
  }
}
