.description {
  margin-top: 8rem;
  margin-bottom: 8rem;

  & span {
    width: 100%;
    color: var(--blue-color-light);
    text-shadow: 1px 1px 3px var(--blue-color-light);
    text-align: center;
    font-size: 5rem;
  }

  &_paragraph {
    margin-top: 6rem;
    color: white;
    text-shadow: 1px 1px 3px white;
    text-align: center;
    font-size: 2.5rem;
  }

  &_steps {
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    color: white;

    & div {
      height: 30rem;
      width: 35rem;
      box-shadow: 0 0 20px rgba(28, 28, 28, 0.9);
      background-color: rgb(28, 28, 28);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-10px);
      }
    }

    & h3 {
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 900;
      text-decoration: underline;
      text-shadow: -1px -1px 1px white;
    }

    & p {
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      text-align: center;
    }
  }
}
